/*.Body { display: grid; }*/
.App {
  position: relative;
  height: 100%;
}

.App-container {
  position: fixed;
  overflow: scroll;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;
  /*background-color: rgba(255, 255, 255, 0.33);*/
  background-color: transparent;
}

.App-playlistTrackContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /*height: 100%;*/
}

.App-playlists,
.App-tracks {
  flex: 1;
  height: 100%;
}

.App-playbackContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 0 auto;
  min-height: 150px;
}

/* Utils, will put in a seperate file when necessary */
.u-displayBlock {
  display: block;
}

.App-background {
  position: fixed;
  top: -25px;
  left: -25px;
  right: 0;
  bottom: 0;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  z-index: 0;
  background: #FF5F6D;
  background: linear-gradient(to top, #FFC371, #FF5F6D);
  filter: blur(50px) opacity(50%) saturate(125%) contrast(125%);
  object-fit: cover;
}

.App-background.App-background--basic {
  background: #FF5F6D;
  background: linear-gradient(to top, #FFC371, #FF5F6D);
  filter: opacity(80%);
}
