.TrackPlayer-albumArt {
  width: 250px;
  height: 250px;
  animation: spin 45s linear infinite;
  margin: 20px auto;
}

.TrackPlayer-albumArt.is-paused {
  animation-play-state: paused;
}

@keyframes spin {
  0%   { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}
